.visionWorkflow {
  background-color: white;
  background-image: url("@site/static/img/vision/bg-pyrsia-vision-the-thinker.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-top: 80px;
  padding-bottom: 100px;
}
.iconDiv {
  padding: 0 70px 10px 70px;
}
.imageInstallDiv {
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 996px) {
  .row1 {
    justify-content: space-between;
  }
  .paragraph1 {
    max-width: 305px;
    margin-left: 15px;
  }
  .imageInstallDiv {
    padding: 0;
  }
  .paragraph2 {
    max-width: 375px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
}
