name: Website Health

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - id: date
        run: |
          echo "::set-output name=today::$(date "+%Y/%m/%d")"
      - uses: jtalk/url-health-check-action@v2
        with:
          url: https://pyrsia.io
      - if: failure()
        uses: actions-ecosystem/action-create-issue@v1
        with:
          github_token: ${{ secrets.github_token }}
          title: Website is down! ${{ steps.date.outputs.today }}
          body: |
            :wrench:
          assignees: |
            sbtaylor15
            prince-chrismc
